data
.env
.env.backup
.env.backup2
logs
uploads
tests
stenv
monitoring
backend/app/__pycache__
backend/app/core/__pycache__
backend/app/services/__pycache__
*.__pycache__
.kiro
.pytest_cache
.qodo
db
backend/app/api/__pycache__
backend/app/models/__pycache__/
backend/app/services/__pycache__/
backend/app/database/__pycache__/
backend/app/schemas/__pycache__/
.vscode
backend/.venv
streamlit_app/.venv
backend/app/services/__pycache__/__init__.cpython-312.pyc
backend/documents
